<div class="jumbotron">
<h1>WTF?!</h1>
	I'm figuring out what the balls I'm doing <%= link_to "balls", "https://pbs.twimg.com/profile_images/485557934491828225/DVaOgKMr_400x400.jpeg", class: "btn btn-primary" %>
</div> 
